---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Back End Developer",
    company: "Codelogic Software Solutions ",
    description:
      "Contribuí al diseño y desarrollo de una aplicación web innovadora para moderar redes sociales, utilizando AI para analizar y clasificar contenido. Mejoré la experiencia del usuario mediante integraciones con servicios financieros y optimicé el manejo de eventos a través de WebSockets, creando soluciones efectivas y eficientes.",
  },
  {
    date: "Junio 2023 - Febrero 2024",
    title: "Full Stack Developer",
    company: "Farmacias YA",
    description:
      "Contribuí a un sistema administrativo integral que abarca facturación, compras, ventas, inventario y contabilidad, mejorando la eficiencia operativa. Diseñé una plataforma de recargas y pagos, y desarrollé un sistema de gestión de turnos que redujo tiempos de espera, transformando la experiencia del cliente.",
  },
  {
    date: "Enero 2022 - Marzo 2023",
    title: "Full Stack Developer",
    company: "Quesabio",
    description:
      "Lideré el desarrollo de una plataforma de comercio electrónico B2B, enfocándome en la venta de productos en línea. Implementé registro de proveedores, métodos de pago, filtros de productos y un historial de ventas. Como Project Manager, guié al equipo para garantizar una experiencia fluida y eficiente para los usuarios, demostrando mis habilidades en gestión de proyectos y desarrollo técnico.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
